<header class="name"><span class="type">{{type}}</span> {{name}}</header>
{{#if inheritedFrom}}<p class="inherited">Inherited from <a href="#{{inheritedFrom}}.{{name}}">{{inheritedFrom}}.{{name}}</a></p>{{/if}}
<p class="description">{{description}}</p>
{{#if default}}<p class="default">Defaults to: {{default}}</p>{{/if}}