<h1>Documentation for {{gameName}}</h1>

<section id="{{gameName}}-documentation" class="documentation">
{{#each classes}}
	<section id="{{name}}" class="game-class">
		<header>{{name}}</header>
		{{#if parentClasses}}
		<div class="parentClasses">
			Parent Classes: <ul>{{#each parentClasses}}<li><a href="#{{this}}">{{this}}</a></li>{{/each}}</ul>
		</div>
		{{/if}}
		<p class="description">{{description}}</p>
		{{#if attributes}}
		<section class="attributes">
			<header>Attributes</header>
			<ul>
			{{#each attributes}}
				<li id="{{../name}}.{{name}}" class="attribute">
					{{> variable}}
				</li>
			{{/each}}
			</ul>
		</section>
		{{/if}}
		{{#if functions}}
		<section class="functions">
			<header>Functions</header>
			<ul>
			{{#each functions}}
				<li id="{{../name}}.{{name}}" class="function">
					<header class="name">{{name}}(<ul class="inline-arguments">{{#each arguments}}<li><span class="type">{{type}}</span> {{name}}</li>{{/each}}</ul>)
					</header>
					{{#if inheritedFrom}}<p class="inherited">Inherited from <a href="#{{inheritedFrom}}.{{name}}">{{inheritedFrom}}.{{name}}</a></p>{{/if}}
					<p class="description">{{description}}</p>
					{{#if arguments}}
					<section class="arguments">
						<header>Arguments</header>
						<ul>
						{{#each arguments}}
							<li>
								{{> variable}}
							</li>
						{{/each}}
						</ul>
					</section>
					{{/if}}
				</li>
			{{/each}}
			</ul>
		</section>
		{{/if}}
	</section>
{{/each}}
</section>

<script type="text/javascript">
	var highlighted = undefined;
	function removeHighlight() {
		if(highlighted) {
			highlighted.removeClass("anchor-highlight");
			highlighted = undefined;
			if(history.pushState) {
				history.pushState("", document.title, window.location.pathname + window.location.search);
			}
		}
	};

	function scrollAnchor(clicked, target, hash) {
		var msTime = 500;
		var originalHash = hash;

		if (clicked && location.pathname.replace(/^\//,'') == clicked.pathname.replace(/^\//,'') && location.hostname == clicked.hostname) {
			hash = clicked.hash.replace('.', '\\.');
			originalHash = clicked.hash;

			target = $(hash);
			target = target.length ? target : $('[name=' + hash.slice(1) +']');
		}

		if (target.length) {
			var targetOffset = target.offset().top;
			var targetHeight = target.height();
			var windowHeight = $(window).height();
			var offset = undefined;
			if (targetHeight < windowHeight) {
				offset = targetOffset - ((windowHeight / 2) - (targetHeight / 2));
			}
			else {
				offset = targetOffset;
			}

			$('html,body').animate({scrollTop: offset}, msTime);

			removeHighlight();
			highlighted = target.addClass("anchor-highlight");

			if(history.pushState) {
				history.pushState(null, null, originalHash);
			}
			else {
				setTimeout(function() {
					location.hash = originalHash;
				}, msTime);
			}

			return false;
		}
	};

	$(document).ready(function() {
		$('a[href*=#]:not([href=#])').click(function() {
			return scrollAnchor(this);
		});

		$(document).on('click', function (e) {
			removeHighlight();
		});

		var hash = location.hash;
		scrollAnchor(undefined, $(hash), hash.substr(1, hash.length-1));
	});
</script>
