<section id="games" class="info-block">
	<h2>Available Games on this Server</h2>
	<section class="game-list">
	{{#each games}}
		{{#> collapsible title=this.name}}
			<div class="game-description">{{this.description}}</div>
			<h4 class="game-settings">Settings</h4>
			<ul>
			{{#each this.settings}}
				<li>
					<span class="game-setting-name">{{this.name}}</span><span class="game-setting-default">{{this.default}}</span><span class="game-setting-min">{{this.min}}</span><span class="game-setting-max">{{this.max}}</span>: <span class="game-setting-description">{{this.description}}</span>
				</li>
			{{/each}}
			</ul>
		{{/collapsible}}
	{{/each}}
	</section>
</section>

<section id="lobby-rooms" class="info-block">
	<h2>Active Rooms in Lobby</h2>
	{{#if hasActiveRooms}}
		<table>
			<tr>
				<th class="room-id">ID</th>
				<th class="room-game-name">Game Name</th>
				<th class="room-date">Created</th>
				<th class="room-is-running">Running</th>
				<th class="room-clients">Clients</th>
			</tr>
		{{#each rooms}}
			<tr>
				<td class="room-id">{{this.id}}</td>
				<td class="room-game-name">{{this.gameName}}</td>
				<td class="room-date">{{formatDate this.timeCreated "MMMM Do YYYY, h:mm:ss a"}}</td>
				<td class="room-is-running">
				{{#if this.isRunning}}
					&#x2713;
				{{else}}
					&#x29b0;
				{{/if}}
				</td>
				<td class="room-clients">{{this.clients}}</td>
			</tr>
		{{/each}}
		</table>
	{{else}}
		<em class="no-active-rooms">No active rooms currently</em>
	{{/if}}
</section>

<section id="gamelogs" class="info-block">
	<h2>Game Archives</h2>
	{{> gamelogs}}
	{{#if moreGamelogs}}
		<a class="more-gamelogs" href="/archives/">More Gamelogs</a>
	{{/if}}
</section>
