<section id="gamelogs" class="info-block">
	<h2>Game Archieves</h2>
	<ul class="game-list">
	{{#each gamelogs}}
		<li>
			<span class="gamelog-name">{{this.game}}</span>
			<span class="gamelog-session">{{this.session}}</span>
			<span class="gamelog-name">{{formatDate this.epoch "MMMM Do YYYY, h:mm:ss a"}}</span>
			<span class="gamelog-watch"><a href="visualize/{{this.uri}}">Watch</a></span>
		</li>
	{{/each}}
	</ul>
	<section class="pagination">
	{{#if newerUri}}
		<a class="newer" href="{{newerUri}}">Newer</a>
	{{/if}}
	{{#if olderUri}}
		<a class="older" href="{{olderUri}}">Older</a>
	{{/if}}
	</section>
</section>
